<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Title -->
<title>.::TransEspol::. | {% block title_tab %}{% endblock %}</title>
<!-- CSS -->
{% block style_css %}{% endblock %}
<!-- Bootstrap Core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<!-- MetisMenu CSS -->
<link href="{% static 'css/metisMenu.min.css' %}" rel="stylesheet">
<!-- Timeline CSS -->
<link href="{% static 'css/timeline.css' %}" rel="stylesheet">
<!-- Custom CSS -->
<link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
<!-- Morris Charts CSS -->
<link href="{% static 'css/morris.css' %}" rel="stylesheet">
<!-- Sweet Alert2 -->
<link href="{% static 'css/sweetalert2.css' %}" rel="stylesheet">
<!-- Custom Fonts -->
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<!-- Javascripts -->
{% block script %}{% endblock %}
<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'js/metisMenu.min.js' %}"></script>
<!-- Morris Charts JavaScript -->
<script src="../bower_components/raphael/raphael-min.js"></script>
<script src="../bower_components/morrisjs/morris.min.js"></script>
<script src="../js/morris-data.js"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'js/sb-admin-2.js' %}"></script>
<!-- SweetAlert2 JavaScript -->
<script src="{% static 'js/sweetalert2.js' %}"></script>
<script>
  $.ajax({
    type:"GET",
    url:"/ajax_route/?route=entrada",
    async: true,
    dataType:"Json",
    contenType:"application/Json; charset=utf-8",
    success: function(data){
      $(data.results).each( function () {
        //console.log(this.nombre);
        //$('#routeIn').append("<li><a>" + this.nombre + "</a><\li>");
        $("#routeIn").append("<li><a href='/tracking/?route=" + this.nombre + "-Entrada'>" + this.nombre + "</a><\li>");
        //a  $.ajax(
        // });
      });
      $('#side-menu .nav nav-second-level').css('display','none');
    },
  });
  $.ajax({
    type:"GET",
    url:"/ajax_route/?route=salida",
    async: true,
    dataType:"Json",
    contenType:"application/Json; charset=utf-8",
    success: function(data){
      $(data.results).each( function () {
        //console.log(this.nombre);
        //$("#routeOut").append("<li><a>" + this.nombre + "</a><\li>");
        $("#routeOut").append("<li><a href='/tracking/?route=" + this.nombre + "-Salida'>" + this.nombre + "</a><\li>");
        //a  $.ajax(
        // });
      });
      $('#side-menu.nav nav-second-level').css('display','none');
    },
  });
</script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Administrador TransEspol</a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
      </ul>
      <!-- /.dropdown-user -->
      </li>
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <!--===Search===-->
          <li class="sidebar-search">
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
          <!-- /input-group -->
          </li>
          <!--===Nuevo Horario ===-->
          <li>
          <a href="/planificador"><i class="fa fa-edit fa-fw"></i>Nuevo Horario</a>
          </li>
          <!--===Rutas Ingreso===-->
          <li>
          <a href="#"><i class="fa fa-arrow-left fa-fw"></i> Rutas de Ingreso<span class="fa arrow"></span></a>
          <ul id = "routeIn" class="nav nav-second-level"></ul>
          <!-- /.nav-second-level -->
          </li>
          <!--===Rutas Salida===-->
          <li>
          <a href="#"><i class="fa fa-arrow-right fa-fw"></i> Rutas de Salida<span class="fa arrow"></span></a>
          <ul id = "routeOut" class="nav nav-second-level"></ul>
          <!-- /.nav-second-level -->
          </li>
          <!--===Horarios Semanales===-->
          <li>
          <a href='/horario'><i class="fa fa-calendar fa-fw"></i> Horarios Semanales</a>
          </li>
          <!--===Reportes===-->
          <li>
          <a href="/reporte"><i class="fa fa-bar-chart-o fa-fw"></i> Reportes</a>
          </li>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
  </nav>
  <div id="page-wrapper">
    <!-- Pages Wraper-->
    {% block wrapper %}{% endblock %}
    <!--           <div id = "holi">
                <h1>"HOLI" </h1>
            </div>
 -->
  </div>
  <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>
</html>
